:root {
  --default-text: #F0F4F8;
  --background: #131B29;
  --Quote-table-head-text: #8698aa;
  --Buy-quote-price-text: #00b15d;
  --Sell-quote-price-text: #FF5B5A;
  --Quote-row-hover-background: #1E3059;
}


body {
  color: var(--default-text);
  background-color: var(--background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orderbook {
  position: relative;
  margin: 20px auto;
  box-sizing: border-box;
  min-width: 0px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  height: 100%;
}

.orderbook-header {
  padding:0 8px 8px 10px;
}

table {
  height: 400px; 
  width: 300px;
  border-spacing: 0 2px;
}

thead {
  color: var(--Quote-table-head-text);
}